@import 'util.scss';

.modal-wrapper {
  z-index: 1002;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s;
  background-color: rgba(0,0,0,0.6);
  &.show {
    pointer-events: auto;
    opacity: 1;
  }
  .run-box:not(.checked):hover {
    background: lighten($lightestGrey, 2%);
  }
}

.modal-custom {
  opacity: 1;
  background-color: white;
  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 90%;
  left: 25%;
  top: 15%;
  border: 0;
  border-radius: 4px;
  padding: 2rem;
  @media screen and (max-width: 768px) {
    max-height: 100%;
  }
}

.modal-top {
  width: 100%;
  height: 15%;
  padding-bottom: 10px;
  border-bottom: 1px solid $lighterGrey;
  h2 {
    margin: 0;
  }
}

.modal-footer {
  width: 100%;
}

.modal-scroll-view {
  overflow: auto;
  width: 100%;
  height: 75%;
  padding-top: 10px;
}

.nav-tabs .nav-link {
  border: 2px solid transparent;
  border-bottom: 0px;
  &:active {
  }
}

.fade-out {
  opacity:0;
}

.fade-in {
  opacity:1;
}

.avatar {
  width:200px;
  height:200px;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.image-container .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    display:none;
}

.image-container:hover .after{
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .6);
}

