@import 'util.scss';

.sidebar-wrapper {
  width: 250px;
  height: 100vh;
  background-color: $darkGrey;
  transition: width 0.3s;
  overflow: hidden;
  &.collapsed {
    width: 50px;
    .sidebar .links .text {
      opacity: 0;
      font-size: 20px;
    }
  }
}

.sidebar {
  padding-top: 12px;
  .links {
    a {
      color: $lighterGrey;

      padding: 3px 12px;
      text-decoration: none;
      transition: all 0.2s;
      &:active, &:link, &:visited {
        color: $lighterGrey;
        text-decoration: none;
      }
      &.active {
        background: darken($lighterGrey, 10%);
        color: $darkGrey;
        &:active, &:link, &:visited {
          color: $darkGrey;
        }
      }
      &:hover {
        color: $darkGrey;
        background-color: $lighterGrey;
        text-decoration: none;
      }
      .text {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: opacity 0.3s;
        margin-left: 6px;
      }
    }
  }
}