$darkGrey: #252830;
$lightGrey: #747e95;
$lighterGrey: #b7bccc;
$lightestGrey: #f1f4f9;
$blue: #2196F3;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin alignItems($value) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}
@mixin justifyContent($value) {
  -webkit-box-pack: $value;
  -moz-box-pack: $value;
  -webkit-justify-content: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

.flexbox {
  @include flexbox();
}
.flex0 {
  @include flex(0 0 auto);
}
.flex1 {
  @include flex(1 1 auto);
}
.align-items-center {
  @include alignItems(center);
}
.align-items-baseline {
  @include alignItems(baseline);
}
.justify-content-center {
  @include justifyContent(center);
}

.text-light {
  color: $lightGrey;
}

.relative {
  position: relative;
}

.hover-blue {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

.btn-primary {
  &[disabled] {
    opacity: 0.3;
  }
}

.sidebar-wrapper {
  width: 250px;
  height: 100vh;
  background-color: $darkGrey;
  transition: width 0.3s;
  &.collapsed {
    width: 50px;
    .sidebar .links .text {
      opacity: 0;
    }
  }
}
.sidebar {
  padding-top: 50px;
  .links {
    a {
      color: $lighterGrey;

      padding: 3px 12px;
      text-decoration: none;
      transition: all 0.2s;
      &:active, &:link, &:visited {
        color: $lighterGrey;
        text-decoration: none;
      }
      &:hover {
        color: $darkGrey;
        background-color: $lighterGrey;
        text-decoration: none;
      }
      .text {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: opacity 0.3s;
        margin-left: 6px;
      }
    }
  }
}

.modal-wrapper {
  z-index: 1002;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s;
  background-color: rgba(0,0,0,0.6);
  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}

.modal-custom {
  opacity: 1;
  background-color: $lightestGrey;
  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 90%;
  left: 25%;
  top: 15%;
  border: 0;
  border-radius: 4px;
  padding: 2rem;
  @media screen and (max-width: 768px) {
    max-height: 100%;
  }
}

.modal-top {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lighterGrey;
  h2 {
    margin: 0;
  }
}

.modal-footer {
  width: 100%;
}

.modal-scroll-view {
  overflow: auto;
  width: 100%;
  height: 80%;
}

.checkbox {
  border: 1px solid $lighterGrey;
  border-radius: 2px;
  background: $lightestGrey;
  width: 50px;
  height: 50px;
  right: 25px;
  top: 25px;
  cursor: pointer;
  .check {
    display: none;
    color: white;
    font-size: 48px;
  }
  &.checked {
    background: $blue;
    .check {
      display: inline;
    }
  }
}

.menu-icon {
  display: inline-block;
  position: fixed;
  top: 12px;
  left: 14px;
  padding: 0;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: 0;
  width: 20px;
  height: 20px;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,0.1);
  }
  .line {
    stroke: $lightGrey;
    stroke-width: 1.5px; 
    stroke-linecap: round;
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
  }
  .line:nth-child(1) {
    top: 2px;
    left: 0;
  }
  .line:nth-child(2) {
    top: 8px;
    left: 0;
  }
  .line:nth-child(3) {
    top: 14px;
    left: 0;
  }
  &.transform-x {
    transition: transform 0.2s, background 0.3s 0s ease;
    background: transparent;
    &:active {
      transition: 0;
      background: rgba(0,0,0,0.1);
    }
    .line {
      transition: top 0.3s ease, transform 0.3s 0.3s ease;
      top: 8px;
    }
    .line:nth-child(2) {
      transform: scale(0);
    }
    .line:nth-child(1) {
      transform: rotate(45deg);
    }
    .line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.page-container {
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.run-box {
  margin-bottom: 20px;
  &:hover {
    background-color: $lightestGrey;
  }
  .preview-map {
    width: 300px;
    height: 150px;
    background: $lightestGrey;
    margin-right: 10px;
    &.small {
      width: 200px;
      height: 100px;
    }
  }
  .location {
    padding-top: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  .date {
    font-size: 18px;
  }
}
.run-box:hover {
  background-color: $lightestGrey;
}

h1 {
  color: $darkGrey;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.popover-menu {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: white;
  z-index: 1;
  border-radius: 3px;
  min-width: 150px;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
  border: 1px solid $lightestGrey;
  label {
    font-size: 12px;
    padding: 1px 10px;
  }
  .direction-arrow {
    display: none;
  }
  .item-list {
    .item {
      padding: 3px 10px;
      cursor: pointer;
      &:hover {
        background: $lightestGrey;
      }
      &.active {
        font-weight: bold;
        color: $blue;
        .direction-arrow {
          display: inline-block;
        }
      }
    }
  }
}
.all-runs-sort-menu {
  right: 0;
  margin-top: 0;
}
