@import 'util.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: $lightestGrey;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 {
  color: $grey;
  margin-bottom: 15px;
  font-weight: 300;
}
h2, h3 {
  color: $grey;
}
button {
  cursor: pointer;
}

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fw300 { font-weight: 300; }
.m0 { margin: 0; }
.mb16 { margin-bottom: 16px; }
.mr5 { margin-right: 5px; }
.ml5 { margin-left: 5px; }
.p0 { padding: 0; }
.pr8 { padding-right: 8px; }
.pl8 { padding-left: 8px; }
.br3 { border-radius: 3px; }
.text-light { color: $lightGrey; }
.text-lighter { color: $lighterGrey; }
.rs-border { border: 2px solid darken($lightestGrey, 5%); }
.relative { position: relative; }
.absolute { position: absolute; }

.hover-blue {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

.btn-primary {
  &[disabled] {
    opacity: 0.3;
  }
}

.checkbox {
  border: 1px solid $lighterGrey;
  border-radius: 2px;
  background: $lightestGrey;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 5px;
  .check {
    display: none;
    color: white;
    font-size: 48px;
  }
  &.checked {
    background: $blue;
    border-color: darken($blue, 5%);
    .check {
      display: inline;
    }
  }
}

.menu-icon {
  display: inline-block;
  position: relative;
  padding: 0;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: 0;
  width: 24px;
  height: 20px;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,0.1);
  }
  .line {
    stroke: $lightGrey;
    stroke-width: 1.5px; 
    stroke-linecap: round;
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
  }
  .line:nth-child(1) {
    top: 2px;
    left: 0;
  }
  .line:nth-child(2) {
    top: 8px;
    left: 0;
  }
  .line:nth-child(3) {
    top: 14px;
    left: 0;
  }
  &.transform-x {
    transition: transform 0.2s, background .3s 0s ease;
    background: transparent;
    &:active {
      transition: 0;
      background: rgba(0,0,0,.1);
    }
    .line {
      transition: top .3s ease, transform .3s .3s ease;
      top: 8px;
    }
    .line:nth-child(2) {
      transform: scale(0);
    }
    .line:nth-child(1) {
      transform: rotate(45deg);
    }
    .line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.page-container {
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.run-box {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  cursor: pointer;
  background: white;
  transition: all 0.2s;
  &:hover {
    border-color: darken($lightestGrey, 3%);
  }
  .preview-map {
    width: 300px;
    height: 150px;
    background: $lightestGrey;
    margin-right: 10px;
    &.small {
      width: 250px;
      height: 125px;
    }
  }
  .run-name {
    font-size: 24px;
    margin: 0;
  }
  .edit-btn {
    background: none;
    border: none;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .edit-container {
    cursor: pointer;
    &:hover {
      .edit-btn {
        opacity: 1;
      }
    }
  }
  .material-icons {
    margin-right: 5px;
  }
  .location, .date, .metrics {
    padding-top: 5px;
  }
  &.checked {
    border-color: $blue;
    background-color: lighten($blue, 40%);
  }
}
.run-star {
  color: $lighterGrey;
  height: 36px;
  cursor: pointer;
  &.starred {
    color: $blue;
  }
  .material-icons {
    font-size: 34px;
  }
}

.popover-menu {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  background: white;
  z-index: 1;
  border-radius: 3px;
  min-width: 150px;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
  border: 1px solid $lightestGrey;
  label {
    font-size: 12px;
    padding: 1px 10px;
  }
  .direction-arrow {
    display: none;
  }
  .item-list {
    .item {
      padding: 3px 10px;
      cursor: pointer;
      &:hover {
        background: $lightestGrey;
      }
      &.active {
        font-weight: bold;
        color: $blue;
        .direction-arrow {
          display: inline-block;
        }
      }
    }
  }
}
.all-runs-sort-menu {
  left: 0;
  margin-top: 4px;
}

.chart-container {
  padding: 20px 20px 0 20px;
  border: 2px solid darken($lightestGrey, 5%);
  border-radius: 3px;
  background: white;
}

.dashboard-stats {
  margin: 10px 0 40px 0;
  padding: 10px 10px 10px 10px;
  border: 2px solid darken($lightestGrey, 5%);
  border-radius: 3px;
  background: white;
  label {
    font-size: 20px;
    color: $lightGrey;
  }
  .row-stats {
    padding: 10px 0;
  }
  .column {
    width: 20%;
    &:first-child {
      padding-left: 15px;
    }
  }
}

.dashboard-stats {
  padding: 15px;
}

.run-tag {
  padding: 1px 10px;
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  color: white;
  font-weight: 300;
  .menu-icon {
    transform: translateY(4px);
    .line {
      stroke: white;
    }
  }
}

.btn:disabled {
  cursor: default !important;
}

.graph {
  overflow: hidden;
}

.map-reset {
  background: #FFF !important;
  position: absolute;
  right: 62px;
  bottom: 24px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}
.chart-header {
  .header-icon {
    font-size: 30px;
    margin-right: 8px
  }
}
.big-stat-label {
  color: $lighterGrey;
  bottom: 100%;
  left: 0;
  font-size: 12px;
  padding-left: 3px;
}